.Title {
  &:is(.H1, .H2, .H3, .H4, .H5, .H6, .Display) {
    display: block;
    line-height: env(--font-lh-small);
    color: var(--heading-foreground);
    min-block-size: 0.01vh;
    font-size: var(--fluid-type-max);
    max-inline-size: var(--maxW, initial);
    text-align: var(--tAlign);
    word-break: break-all;

    &[data-title-is-fluid='true'] {
      font-size:
        clamp(
          var(--fluid-type-min, env(--font-size-16)),
          var(--fluid-type-factor, calc(0.6rem + 0.92vw)),
          var(--fluid-type-max, 1rem)
        );
    }

    &[data-title-line-height='none'] {
      line-height: 0.3;
    }

    &[data-title-line-height='small'] {
      line-height: 1;
    }
  }

  &:is(.H6) {
    --fluid-type-min: env(--font-size-14);
    --fluid-type-factor: calc(env(--font-size-16) + 0.44vw);
    --fluid-type-max: env(--font-size-18);

    font-weight: 700;
  }

  &:is(.H5) {
    --fluid-type-min: 1rem;
    --fluid-type-factor: calc(0.76rem + 1.32vw);
    --fluid-type-max: 1.33rem;

    font-weight: 700;
  }

  &:is(.H4) {
    --fluid-type-min: 1.33rem;
    --fluid-type-factor: calc(1.01rem + 1.76vw);
    --fluid-type-max: 1.77rem;

    font-weight: 700;
  }

  &:is(.H3) {
    --fluid-type-min: 1.77rem;
    --fluid-type-factor: calc(1.35rem + 2.37vw);
    --fluid-type-max: 2.37rem;

    font-weight: 900;
  }

  &:is(.H2) {
    --fluid-type-min: 2.37rem;
    --fluid-type-factor: calc(1.8rem + 3.17vw);
    --fluid-type-max: 3.16rem;

    font-weight: 900;
  }

  &:is(.H1) {
    --fluid-type-min: 3.16rem;
    --fluid-type-factor: calc(2.23rem + 4.17vw);
    --fluid-type-max: 4.2rem;

    font-weight: 900;
  }

  &.Display {
    --fluid-type-min: 4.2rem;
    --fluid-type-factor: calc(3.19rem + 5.66vw);
    --fluid-type-max: 5.6rem;

    font-weight: 900;
  }
}
