.ToggleButton.ToggleButton {
  border-radius: 200px;
  padding: 0;

  &[aria-pressed='true'] {
    box-shadow:
      0 0 0 var(--border-width) var(--border-color),
      inset 0 0 0 calc(var(--border-width) / 2) hsl(0deg 0% 0% / 20%);
  }

  &[data-button-kind='primary'] {
    --border-color: var(--highlight-red-background);
  }

  &[data-button-kind='secondary'] {
    --border-color: var(--dimmed-2);
  }

  &[data-button-kind='flat'] {
    --border-color: var(--dimmed-2);
  }

  &[data-button-dimension='small'] {
    --border-width: 2px;
  }

  &[data-button-dimension='regular'] {
    --border-width: 4px;
  }

  &[data-button-dimension='big'] {
    --border-width: 6px;
  }
}
