.IconButton.IconButton {
  border-radius: 200px;
  padding: 0;

  &[data-button-size='small'] {
    width: env(--space-24);
  }

  &[data-button-size='regular'] {
    width: env(--space-40);
  }

  &[data-button-size='big'] {
    width: env(--space-48);
  }
}
