.IconButton.IconButton {
  border-radius: 200px;
  padding: 0;

  &[data-button-dimension='small'] {
    width: env(--space-24);
  }

  &[data-button-dimension='regular'] {
    width: env(--space-40);
  }

  &[data-button-dimension='big'] {
    width: env(--space-48);
  }
}
