@import '../core/utils/vibrancy.css';

:where(.Card) {
  background: var(--global-background);
  padding: var(--padding);
  border-radius: var(--radius);
  position: relative;

  &[data-card-dimmed='1'] {
    background: var(--dimmed-0);
  }

  &[data-card-dimmed='2'] {
    background: var(--dimmed-0);
  }

  &[data-card-dimmed='3'] {
    background: var(--dimmed-2);
  }

  &[data-card-vibrant='true'] {

    @mixin vibrancy;
  }

  &[data-card-hoverable='true']:hover {

    @mixin vibrancy-hover;
  }

  &[data-card-bordered='true'] {
    border: solid 1px var(--dimmed-1);
  }
}

.Left {
  flex-shrink: 0;
}

.Content {
  flex-grow: 1;
}

.Right {
  flex-shrink: 0;
}
