.Button {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  min-inline-size: min-content;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  appearance: none;
  font-weight: 600;
  line-height: 1;
  position: relative;
  overflow: hidden;
  border-radius: env(--radius-4);
  background: none;
  grid-gap: env(--space-8);

  /* Sizes */

  &[data-button-dimension='big'] {
    padding: 0.55rem env(--space-24) 0.66rem;
    font-size: env(--font-size-18);
    block-size: env(--space-48);
  }

  &[data-button-dimension='regular'] {
    padding: 0.33rem env(--space-16) env(--space-8);
    font-size: env(--font-size-16);
    block-size: env(--space-40);
  }

  &[data-button-dimension='small'] {
    font-size: env(--font-size-14);
    padding: 0 env(--space-4) 0.11rem;
    block-size: env(--space-24);
    grid-gap: env(--space-4);
  }

  /* Types */

  &[data-button-kind='primary'] {
    background-color: var(--cta-default);
    color: var(--cta-foreground);

    &:is(:active) {
      background-color: var(--cta-dark);
    }
  }

  &[data-button-kind='secondary'] {
    color: var(--global-vibrancy-foreground);
    backdrop-filter: blur(32px);
    background-color: var(--global-vibrancy-background);

    &:is(:active) {
      background-color: var(--global-vibrancy-background-hover);
    }
  }

  &[data-button-kind='flat'] {
    color: var(--global-foreground);

    &:is(:active) {
      backdrop-filter: blur(32px);
      background-color: var(--global-vibrancy-background-hover);
    }

    &:is(:hover, :focus):not(:active) {
      backdrop-filter: blur(32px);
      background-color: var(--global-vibrancy-background);
    }
  }

  /* Styles */

  &[data-button-fullwidth='true'] {
    inline-size: 100%;
  }

  &[data-button-icon-position='right'] {
    flex-direction: row-reverse;
  }

  &[data-button-disabled='true'],
  &[data-button-disabled='true']:is(:hover, :focus) {
    background-color: var(--global-disabled-background);
    backdrop-filter: blur(32px);
    color: var(--global-disabled-foreground);
    cursor: not-allowed;
  }

  &[data-button-is-loading='true'] > :not(.SpinnerIndicator) {
    visibility: hidden;
  }
}

.SpinnerIndicator {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}
