.Stack {
  display: flex;
  grid-gap: var(--rGap, 0) var(--cGap, 0);
  flex-direction: column;
  align-items: var(--hAlign, initial);
  justify-content: var(--vAlign, initial);
  padding: var(--vPadding, 0) var(--hPadding, 0);

  &[data-stack-fill='true'] > * {
    flex-grow: 1;
  }

  &[data-stack-direction='row'] {
    align-items: var(--vAlign, initial);
    justify-content: var(--hAlign, initial);
    flex-direction: row;
  }

  &[data-stack-inline='true'] {
    display: inline-flex;
    flex-grow: 0;
  }

  &[data-stack-wrap='true'] {
    flex-wrap: wrap;
  }
}
